body {
    font-family: Arial;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
    justify-content: center;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

button{
    width: 100px;
    height: 50px;
    background-color: rgb(224, 46, 46);
    border-radius: 6px;
    text-align: center;
    color: white;
    cursor: pointer;

}